body {
  background-color: white;
  font-family: sans-serif ;
  color: white;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-container{
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: 2%;
  align-self: center;
}
.search-bar{
  padding-left: 10%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 40px;
  margin-top: 10px;
}

.search-button{
  width: 40px;
  height: 30px;
  border: none;
  height: 40px;
  width: 50px;
  margin-top: 10px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-img{
  width: 20px;
}

.card-title{
  text-align: center;
}

.list-group-item{
  text-align: center;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border: none;

  color: white;
}

.card {
  color: white;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border: none;

}
.card-body{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border: none;

}